<h2>The Beliefs of New Life</h2>

<p>
    Historically, the Baptist tradition has avoided making creeds or statements of faith binding on churches
    or individuals.
</p>

<p>
    Instead, Baptists affirm:
</p>

<ul>
    <li>
        <span class="bold">Soul liberty</span> - the freedom of each Christian to be led by Scripture and the Holy
        Spirit in matters
        of doctrine and practice
    </li>
    <li>
        <span class="bold">local church autonomy</span> - the freedom of each local church to shape and order its
        community life as
        it sees fit.
    </li>
</ul>

<p>
    At the same time, Baptists in general, and New Life in particular, are firmly committed to the core of
    the Christian faith:
</p>

<p class="bold">
    "Jesus Christ is the Son of God, that he died for our sins on the Cross, was buried, and rose again
            bodily from the dead."
</p>

<p>
    Baptists emphasize conversion to Christianity as a conscious, personal decision to place one's faith in
    JesusChrist. Baptists share the Protestant conviction that salvation is by grace alone through faith
    alone, resulting in good works but in no way dependent on them (Eph. 2:8-10).
</p>

<p>
    As Baptists, we practice believer's baptism, though we recognize all baptisms done in the name of the
    Trinity. We invite all baptized believers, and all others who consider themselves Christians by virtue
    of their faith in Jesus, to join us in our celebrations of communion (usually the first Sunday of every
    month).
</p>

<p>
    We believe that the Christian life is primarily a shared life, lived out in a community of believers.
    Together we experience Jesus' presence and power to change lives as we gather together to worship, to
    pray, to reflect on Scripture, to share our stories, and to be with each other along the spiritual
    journey.
<p>