<h2>Contact Information</h2>

<p>
    <span class="bold">New Life Christian Fellowship</span>
</p>

<p>
    Sunday service times - 10AM
</p>
<p>
    Morning Bible Studies - Mondays 12PM @ church
</p>

<p>
    Evening Bible Studies - Friday 6:30 PM @ church
</p>
<p>
    22360 Redwood Road Castro Valley, CA 94546 (510) 582-2261
</p>

<br><br><br><br>

<p>
    General messages: <a href="mailto:admin@newlifebayarea.org">admin@newlifebayarea.org</a>
</p>
<p>
    Pastor Katie Choy-Wong: <a href="mailto:pastorkatie@newlifebayarea.org">pastorkatie@newlifebayarea.org</a>
</p>

<iframe class="well well-small span6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3157.5359268581074!2d-122.073333!3d37.683611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f93d26dc2bff1%3A0x1b1935b523cc104f!2sNew+Life+Christian+Fellowship+Church!5e0!3m2!1sen!2sus!4v1398406056214"
        width="600" height="450" frameborder="0" style="border:0"></iframe>