<h2>Contact Information</h2>

<p>
    <span class="bold">New Life Christian Fellowship</span>
</p>

<p>
    Sunday service times - 10AM
</p>
<p>
    Morning Bible Studies - Mondays 12PM @ church
</p>

<p>
    Evening Bible Studies - Friday 6:30 PM @ church
</p>
<p>
    22360 Redwood Road Castro Valley, CA 94546 (510) 582-2261
</p>

<br><br><br><br>

<p>
    General messages: <a href="mailto:admin@newlifebayarea.org">admin@newlifebayarea.org</a>
</p>
<p>
    Pastor Katie Choy-Wong: <a href="mailto:pastorkatie@newlifebayarea.org">pastorkatie@newlifebayarea.org</a>
</p>
<p>
    <a href="http://www.mapquest.com/maps/map.adp?searchtype=address&country=US&addtohistory=&searchtab=home&formtype=address&popflag=0&latitude=&longitude=&name=&phone=&level=&cat=&address=22360+Redwood+Road&city=Castro+Valley&state=ca&zipcode="
       target="">directions / map</a>
</p>