<h2>Daily Prayer</h2>

<p>
    Praying with the focus on God, our Father. When we pray, we often focus on ourselves, what we need, and on
    intercession (prayer for people we care about). He challenged us (using the Lord's Prayer as a basis) by asking us
    to start our prayers focused on the Father.<br><br>

    Based on the Lord's Prayer, or Disciples' Prayer, Luke 11:1-4, ypou can pray 5 minutes in the morning and 5 minutes
    in the evening every day. Pray in this way...<br><br>

    1. Speak to the Father about the Father (God) - verses 1-2<br><br>

    His Person (Hallowed, Holy, Who God is)<br><br>

    His Program (Kingdom Come Thy Will Be Done, His purpose and will)<br><br>

    2. Speak to the Father about the family (us, community of believers) - verses 3-4<br><br>

    His provision (Give Us This Day our Daily Bread, our needs)<br><br>

    His pardon (Forgive Us Our Sins, lusts...As We Forgive Those Who Sin AgainstUs, pardon one another)<br><br>

    His protection (And Lead Us Not into Temptation, protect us from ourselves, protect me from my wicked heart)<br><br><br><br>


    Please make a commitment to pray each day, just 5 minutes in the am and 5 minutes in the pm! Of course it could be
    longer! Enjoy your time with God.
</p>