<h2>Our Denomination</h2>

<p>
    New Life became affiliated with the American Baptist denomination in 1994.
</p>

<p>

    The American Baptist denomination (official name: "American Baptist Churches in the U.S.A.") has
    1.6-million members in 5,800 churches nationwide. Its headquarters is in Valley Forge, Pennsylvania. It
    was the product of the north-south split of Baptists during the Civil War. (Earlier this century,
    ABC/USA was known as the "Northern Baptist Convention".)
</p>

<p>
    ABC/USA is considered to be the most evangelical of the mainline denominations. Its members generally
    range from mid-left to mid-right in theological and political orientation, and it remains firmly
    committed to both evangelism and social action. ABC/USA participates in both the National Council of
    Churches and the National Association of Evangelicals. Some better-known American Baptists include Tony
    Campolo (author, and professor at Eastern College), J. Alfred Smith (pastor of Allen Temple Baptist
    Church, Oakland), and the late Martin Luther King Jr.
</p>

<p>
    The American Baptist Churches of Oregon is the regional body of ABC/USA covering over 50 ABC churches of
    northern California and Oregon. The headquarters for the ABCO is located in Portland, OR.
<p>