<p>
    <span class="bold">*****RECURRING EVENTS AT NEW LIFE***** (unless noted otherwise below)</span>
</p>

<p>
    <span class="bold">MONDAYS:</span>Senior Bible Study, (12pm) @ church;NL Hispanic Evening Bible Study
    <br>
</p>
<p>
    <span class="bold">TUESDAYS:</span>Volunteer @ Harbor House, 12pm; Yoga @ church (7pm)
    <br>
</p>
<p>
    <span class="bold">WEDNESDAYS:</span>
    New Life Hispanic Church Prayer meets, (7:30pm)
    <br>
</p>
<p>
    <span class="bold">THURSDAYS:</span>New Life Hispanic Praise Team rehearsal, (7:30pm)
    <br>
</p>
<p>
    <span class="bold">FRIDAYS:</span>New Life Praise Team rehearsal, (7:30pm); Friday Night Bible Study & Kids Club
    (6:30pm)
    <br>
</p>
<p>
    <span class="bold">SATURDAYS:</span>Missions of Compassion meets, (9am - 2pm); New Life Hispanic Youth
    Worship, (7:30pm)
    <br>
</p>
<p>
    <span class="bold">SUNDAY:</span>NLCF weekly services, (10 am); New Life Hispanic Church, (4pm); Men's Group
    Prayer/Study (1st and 3rd Sundays @ church 9am)
    <br>
</p>
<p>
    <span class="bold">First Sundays:</span>Jelo Youth Group and Covenant Youth Group meets after service
    <br>
</p>
<p>
    <span class="bold">Men's Group:</span>meets 1st and 3rd Sunday mornings (9am)
    <br>
</p>

<h2>*****NEW LIFE CALENDAR*****</h2>

<h2>WEEK OF 4/6/14</h2>

<p>MONDAY 4/7
    <br>
</p>
<ul>
    <li>Senior Cell Group (1pm) @ NLCF</li>
</ul>
<p>FRIDAY 3/21
    <br>
</p>
<ul>
    <li>Berkeley Cell Group (6:30pm) Zinfkhai's home</li>
    <li>Castro Valley Cell Group (7pm) NLCF</li>
    <li>Fremont Cell Group (7pm) Leong's home</li>
</ul>


<h2>WEEK OF 4/13/14</h2>

<p>SUNDAY 4/13 "It is Finished...Into Your Hands I Commit My Spirit
    <br>
</p>
<ul>
    <li>Pastor Katiepreaching (10am)</li>
</ul>
<p>FRIDAY 4/18
    <br>
</p>
<ul>
    <li>Good Friday Service (6:30pm)@ NLCF</li>
</ul>

<h2>WEEK OF 4/20/14</h2>

<p>SUNDAY 4/20
    <br>
</p>
<ul>
    <li>Pastor Karen preaching (10am)</li>
    <li>Baptism Sunday</li>
    <li>Pancake Brunch (Youth Fundraisier) after service</li>
    <li>Easter Egg hunt (NLCF Youth)</li>
</ul>

<h2>WEEK OF 4/27/14</h2>

<p>SUNDAY 4/27
    <br>
</p>
<ul>
    <li>Pastor Karenleading (10am)</li>
    <li>Women's Group Prayer</li>
    <li>Financial Workshop (A. Bau)</li>
</ul>

<h2>WEEK OF 4/13/14</h2>

<p>SUNDAY 4/13 "It Is Finished...Into Your Hands I Commit My Spirit"
    <br>
</p>
<ul>
    <li>Pastor Katie preaching (10am)</li>
</ul>
<p>FRIDAY 4/18
    <br>
</p>
<ul>
    <li>Good Friday Service (6:30 pm)</li>
    <li>Pastoral Staff Special Music</li>
</ul>

<h2>WEEK OF 4/20/14</h2>

<p>SUNDAY 4/20 "Easter Sunday"
    <br>
</p>
<ul>
    <li>Pastor Karen preaching (10am)</li>
    <li>Baptisms</li>
    <li>Easter Potluck & Egg Hunt</li>
</ul>
<p>
    <br>
</p>
<p>
    <span class="bold"></span>
    <br>
</p>
<p>
    <span class="bold">OTHER IMPORTANT DATES</span>
    <br>
</p>
<ul>
    <li></li>
</ul>
<p>
    <span class="bold">*****NEW LIFE ANNOUNCEMENTS*****</span>
    <br>
</p>
<p>
    <span class="bold">We want to welcome you to New Life Christian Fellowship this Sunday:</span> If you are a first
    time guest, please be sure to obtain a welcome mug and to fill out a guest card. You may give your guest card to any
    New
    Life member. We invite you to stay for refreshments after church.
    <br>
</p>
<p>
    <span class="bold">Kids Klub, a children's program onFriday nights in conjunction with the Bible Studies is going on. We start withpotluck dinner at 6:30 pm and end at 9:30 pm.</span>
    Kids up to 12 are welcome to come. Theprogram will
    include games, Bible stories, music and sometimes crafts.This is lead by two adults from the Bible study class and a
    youth assistant.
    <br>
</p>
<p>
    <span class="bold">Benevolent Fund:</span>
    Thank you for your contributions to the benevolent fund. The benevolent fund is for the church's use for needs
    among our members and in our communities. For example we use this fund to pay for BART for our members from City
    Team. This
    is in addition to your regular giving to New Life and is usually taken during the first Sunday of every month.
    <br>
</p>
<p>
    <span class="bold">Missions Contributuions:</span>Thank you for your continued contributions to our missions.If you
    would like to contribute to the missions we support, please bring your special offeringon Sunday and place in the
    offering basket or send it to the church.
    <br>
</p>
<p>Please indicate the mission you wish to support with the contribution. This is in addition to your regular giving to
    New Life.
    <br>
</p>
<p>
    <span class="bold">NLCF MISSIONS</span>
</p>
<ul>
    <li>City Team Ministries and World Impactof Oakland</li>
    <li>Abode Ministries, Fremont</li>
    <li>Harbor House, Oakland</li>
    <li>JEMS Special Camp</li>
    <li>American Baptist Missions/ABSW/Caucus</li>
    <li>Seafarers Ministry of the Golden Gate</li>
    <li>Naga School in India</li>
</ul>
<p>
    <span class="bold">Church Contributions:</span>Thank you for your continued contributions to our church.If you would
    like to contribute to thework of our church, please bring your special offeringon Sunday or send it tous.Some
    of the areas you can designate your donations are:
</p>
<ul>
    <li>General Fund</li>
    <li>Covenant Youth Group</li>
    <li>Jelo Youth Group</li>
    <li>Building Fund</li>
</ul>
<p>
    <span class="bold">Meet Tony Aboagye, seminarian from the American Baptist Seminary of the West.</span>Tony is from
    Ghana and is a youth pastor in his Baptist home church. Tony will be our seminary intern starting in the Fall for
    the school year, 2013-2014. New Life has always been a teaching church. Tony will be volunteering and learning from
    us, as well as sharing his experiences and expertise with us. Tony lives in Alameda.
    <span class="bold italic">We will be helping Tony with transportation to and from the church and food. If you would
        like to contribute to "BART" or AC Transit assistance, or food, please let
        us know.</span> We will be blessed by Tony's presence. Please welcome Tony!
    <br>
</p>
<p>
    <span class="bold">Please sign up for our volunteer efforts at Abode Services/Tri-City Homeless Shelter</span>
    Each group, class or family unit, are asked to help at least once this year with preparing lunch for Tri-City
    Homeless Shelter in Fremont. Please sign up on the sheet in the kitchen or see Lydia. If every group, class or
    family
    (or a couple of families joining together), we will fill the year! Even if you are not sure of your schedule yet,
    sign up first. You can trade with another New Life group later. If you need more information see Lydia.
    <br>
</p>
<p>
    <span class="bold">Interested in baptism or membership?</span> Pastor Katie will be holding classes for baptism
    and/or membership. Please see Pastor Katie if you are interested. For those who have attended this class, please let
    Pastor Katie know if you are ready to make a commitment.
    <br>
</p>
<p>
    <span class="bold">Visitation Team:</span> Anyone interested in being part of a visitation team to visit our number
    of "shut-ins" and others, please see Pastor Katie. This is a unique opportunity to grow in your "caring
    skills" and share God's love with those who cannot attend church. This Easter we would like to visit
    Adele Steiner who is at Bay Point Nursing Home in Hayward. If we can have 2-3 of us visit her after church
    on Easter, this will be great. Even greater if you are able to sing to her on that day! Adele has been in the
    nursing home for months. We will leave together from church. It will take only one hour.
    Please let Pastor Katie know if you can do this special ministry and bring Christ's love to Adele.
    <br>
</p>
<p>
    <span class="bold">Staff Schedule</span>
    <br>Monday, Noon Bible Study; Tuesday, visitation and Castro Valley; Wednesday, study day; Thursday, Pinole; Friday,
    off; Saturday, Alameda.
    <br>
</p>
<p>

    <br>
</p>
<p>
    <br>
</p>