<h2>The History of New Life</h2>

<ul class="nobullet">
    <li>(1988) The original members of New Life Chiristain Fellowship (NLCF) were part of a
        multi-generational
        Bible Study group that met in home settings.
    </li>

    <li>(1991) While renting space from Broadmoor Church in San Leandro, we started discussions about
        becoming a
        church. New Life decided to hire a pastor (Dr. Russell Yee) and covenanted together as a "church".
        The
        church's first baptism was held.
    </li>

    <li>(1992 - 1993) During this period, NLCF began nursery, children's, small group, and mission's
        ministries.
    </li>

    <li>(1994 - 1995) While continuing to rent space at Broadmoor Church for worship services, NLCF decided
        to
        and became affiliated with the American Baptist denomination. A church building in Castro Valley
        became
        available and we held our first worship service in our own space.
    </li>

    <li>(1996 - 1997) Dr. Russell Yee was ordained as an American Baptist minister. NLCF ratified our church
        constitution and incorporated with the state as an independent non-profit organization.
    </li>

    <li>(1998 - 1999) NLCF adopted our church Vision Statement which is "Cultivating Christian faith and
        growth
        in a multi-cultural, Asian American setting." We also conducted our first children's baptism.
    </li>

    <li>(2000) Our staff gets larger with the hiring of Co-Pastor Katie Choy-Wong and Pastoral Associate
        Angela
        Yee. NLCF's first youth group (now called "The Covenant") is formed.
    </li>

    <li>(2001) A Middle Youth group has also formed. Renamed "JeLos" (Jesus Loves) in 2010.</li>

    <li>(2004) Katie Choy-Wong becomes Senior Pastor of NLCF</li>

    <li>(2011) NLCF hires Interim Youth Minister, Rev. Karen Yee and Minister of Pastoral Care and Outreach,
        Thuiya Rumthao
    </li>

    <li>(2011) NLCF affilliates with ABCUSA region - American Baptist Churches of Oregon</li>
</ul>