---
group: home
---

<h2>Welcome! (One Lord, One Faith, One Baptism)</h2>

<p class="italic">
    "Cultivating Christian Faith and Growth in a Multi-Cultural Asian-American
    Setting"
</p>

<p>
    <img class="floatright" src="res/church-sign.gif" alt="Church Building">
    New Life Christian Fellowship cultivates Christian faith and growth by helping people become
    fully-committed followers of Jesus Christ. New Life has a unique identity, history, and location that
    define its particular focus and calling.
</p>

<p>
    We are a church that is community and missions focused. From Bible Studies,
    children's and youth sunday school, youth programs and lively fellowship, New Life exemplifies the joy
    in life God wants us to have. Please explore our website and discover how God is working in our
    congregation.
</p>

<p>
    We extend a warm and special invitation to come and worship God and experience his loving presence with
    us. At New Life Christian Fellowship, you will find people just like yourself, seeking an authentic
    relationship with the living God in a comfortable, casual atmosphere.
</p>

<p>
    Our Sunday Service begins at 10AM. Sunday School classes for infants through youth begin about
    10:20AM.
</p>

<p>
    We are looking forward to hearing from you!
</p>