<h2>The Ministries of New Life</h2>

<p>
    New Life Christian Fellowship's ministries span a range of generations learning, worshiping, fellowshipping, and
    seving together. From infants to seniors you'll find a place as well as others at the same point along the journey
    as you. We welcome you to come and experience our church and participate in the many differnet ministries we
    offer.

<ul>
    <li><a href="#bible_studies">BIBLE STUDIES</a></li>
    <li><a href="#community_service">COMMUNITY SERVICE</a></li>
    <li><a href="#sunday_school">SUNDAY SCHOOL</a></li>
    <li><a href="#youth">YOUTH</a></li>
    <li><a href="#yoga">YOGA</a></li>
    <li><a href="#fellowship_groups">FELLOWSHIP GROUPS</a></li>
</ul>
</p>

<br><br>

<h2 id="bible_studies">Bible Studies for Adults</h2>
<p>
    <span class="bold">Monday Study:</span> at New Life are held at 12:00 PM at the church.
</p>
<p>
    <span class="bold">Friday Night Study:</span> is held at 6:30 PM at the church.
</p>
<p>
    All Bible studies begin with a meal together.
</p>
<p>
    During the Friday night studies, a Kids Club is offered for parents who attend the Bible study.
</p>
<p>
    The bible study topics are varied and are planned so they are appropriate for current events and the life stories of
    those who attend.
</p>
<p>
    Though the Monday studies are primarily attended by the seniors at New Life and the 6:30 PM study is attended by
    adults of all ages, all are welcome to come study and fellowship at either.
</p>

<br><br>

<h2 id="community_service">Community Services NLCF participates in:</h2>
<div class="section">
    <img class="floatleft" src="res/hhouselogo.gif">

    <p>
        <span class="bold">Harbor House http://www.hhministries.org/</span> is an inner-city ministry in central Oakland
        sponsored by the National Association of Evangelicals and many local churches and individuals. HH focuses on
        holistic, whole-family ministry, with youth programs, ESL, job training, economic development, and emergency
        food
        and clothing distribution, all with
        an emphasis on racial reconciliation. HH also runs the Many Hands, Many Lands store on Grand Avenue in Oakland.
        Volunteers from New Life help purchase, sort, and distribute groceries at HH for low-income families every
        Tuesday
        morning.

        Harbor House (Providing opportunities for low-income people to become self-sufficient through spiritual,
        economic,
        and educational programs so that, together, we become all that God intends us to be)

        1811 Eleventh Ave.
        Oakland CA 94606
        510/534-0165
    </p>
</div>

<br><br>

<div class="section">
    <img class="floatleft" src="res/tricity.jpg">

    <p>
        <span class="bold">Tri City Homeless Shelter www.tricityhomeless.org/</span> is a comprehensive shelter for
        homeless
        families in south Fremont. Volunteers from NLCF prepare and serve lunch at TCHS every 3rd Saturday.

        TCHS (Tri-City Homeless Coalition (TCHC) is seeking to end homelessness in southern Alameda County. We provide
        shelter and a stable living environment for our clients, but we provide more than shelter alone. We fight to
        counteract the underlying causes of homelessness to return homeless people to stable housing and positive
        community
        interdependence) 588 Brown Road
        Fremont CA 94539
        510/252-0910
    </p>
</div>

<br><br>

<div class="section">
    <img class="floatleft" src="res/cityteam.gif">

    <p>
        <span class="bold">City Team - Oakland www.cityteam.org/oakland/</span>
        is involved in real life situations with the people that walk through our doors. The caring staff and volunteers
        at
        CityTeam reach out to those people in need and show them there is real hope in Christ. <span class="bold">City Team Oakland</span>
        offers several different programs that reach out to those in severe need. All of these programs incorporate a
        chance
        for our staff and volunteers to consistently walk along side someone and explain God's unconditional love for
        them
        in
        order to formulate an everlasting real change in their lives.


        New Lifers are participating in providing dinner and worship at City Team Oakland on Third Sunday evenings (Led
        by
        Pastor Augie Bau). For more information and if you can volunteer contact Augie.

        722 Washington St
        Oakland, CA 94607
        Phone: 510.452.3758
    </p>
</div>

<br><br>

<h2 id="sunday_school">Sunday School Programs</h2>

<p>
    All children and youth begin in worship service and then are dismissed for classes, which include teacher led,
    Bible-based, age-appropriate lessons, discussions, crafts, songs, and prayer. We currently have five classes from
    infant through high school. College and Career aged adults remain in the worship service on Sundays with occasional
    fellowship events scheduled on her dates.
</p>
<p>
    <span class="bold">Nursery for infants - ages 0-2</span>
    Children up to age 2 meet together for a time of childcare and play under the guidance of experienced adult.
</p>

<br><br>

<div class="section">
    <div><img src="res/LIONSANDLAMBS.gif"></div>
    <img class="floatleft" src="res/PreSchool-01.gif">

    <p>
        <span class="bold">"LIONS AND LAMBS" Pre-K thru K Class</span>
        Meets in room #1. An experienced staff person provides individualized attention and care for the children.
        Children
        have Bible stories read to them, playtime, and craft activities available. The classroom contains it's own
        restroom.
    </p>
</div>

<br><br>

<div class="section">
    <div><img src="res/CHRISTTHELIGHT.gif"></div>
    <img class="floatleft" src="res/Elementary-01.gif">

    <p>
        <span class="bold">"CHRIST THE LIGHT" Children (1st thru 4th grade)</span>
        Meets in room #2. The typical program includes Bible stories, crafts, snacks, free time, and singing. If this is
        your first time at New Life, please feel free to sit in with your child until she or he is comfortable with the
        class.
    </p>
</div>

<br><br>


<div class="section">
    <img class="floatleft" src="res/1d20bf393fb358d7ffff9d347f000101.jpg">

    <p>
        <span class="bold">"JeLo" (Jesus Loves!) Middle Youth - (5th - 8th grades)</span>
        Meets in room #3. Teachers utilize Bible-based, age appropriate, lessons in a fun, relaxed, and supportive
        environment. The curriculum engages students with a variety of activities which could include discussion,
        computers,
        games, or crafts."
    </p>
</div>

<br><br>


<div class="section">
    <img class="floatleft" src="res/Middle-Youth-02.gif">

    <p>
        <span class="bold">"Covenant" Youth Programs - (9th - 12th grades)</span>
        Meets in various settings or off campus at First Presby. Castro Valley. This class includes mature High
        Schoolers.
        Lessons range from in-depth Bible studies to lively discussions of current events seeking to understand how God
        is
        present in their lives today. On months with five Sundays, this class participates in "Youth Sunday" as
        greeters,
        ushers, prayer leaders, praise team singers, and scripture readers.
    </p>
</div>

<br><br>

<h2 id="youth">Youth</h2>

<p>
    At NLCF, the "Covenant" Youth meets together as regular as possible under the leadership of Rev. Karen Yee and
    Randy
    Fong. Various activities, studies and fellowship are planned. Throughout the year, the youth hold fund-raisers,
    take
    field trips and make mission trips.
</p>
<p>
    The "JeLo" Youth meet at various times with special field trips and fellowship meetings.
</p>
<p>
    Some of the exciting trips in the past include, skiing, camping, attending the annual national Baptist youth
    conference, and mission trips to Mexico, Puerto Ricao, and Washington D.C.
</p>
<p>
    In 2012, the College and Covenant Groups attended the American Baptist Youth Conference "Immerse" in Washington
    D.C.
    which included several missional opportunities.
</p>

<br><br>

<h2 id="yoga">Yoga</h2>
<p class="bold">
    Looking for a way to relax? Yoga may be just what your body, heart and spirit needs. Relaxation, Flexibility,
    Fellowship
</p>

<p>
    <img class="floatright" src="res/yoga.h1.jpg" alt="Church Building">
</p>

<table>
    <tbody>
    <tr>
        <td class="bold">When:</td>
        <td>Tuesdays 7:30 - 8:30 PM</td>
    </tr>
    <tr>
        <td class="bold">Where:</td>
        <td>New Life Christian Fellowship</td>
    </tr>
    <tr>
        <td></td>
        <td>22360 Redwood Rd.</td>
    </tr>
    <tr>
        <td></td>
        <td>Castro Valley, CA</td>
    </tr>
    <tr>
        <td class="bold">Instructor:</td>
        <td>Gina Chin</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="mailto:blssdjade@hotmail.com">blssdjade@hotmail.com</a></td>
    </tr>
    <tr>
        <td></td>
        <td>510.490.4452</td>
    </tr>
    </tbody>
</table>

<br><br>

<h2 id="fellowship_groups">Fellowship Groups</h2>

<p class="bold">
    College and Career:
</p>
<p>
    This group meets for occasional fellowship, learning activities, and prayer support. Some events include dinner,
    guest speakers, and informal get-togethers.
</p>
<p class="bold">
    Women Growing Together:
</p>
<p>
    This is NLCF's Women's Group meeting once a month for spiritual growth, mutual learning, fellowship, and prayer
    support
</p>

<p class="bold">
    NLCF Men's Group:
</p>

<p>
    Meets periodically for fellowship, discipleship and service projects.
</p>