---
group: about
---

<h2>A Message From Pastor Katie</h2>

<p>
    Welcome to New Life Christian Fellowship. With gratitude to God for all he has done in our church, we
    invite you to share in our journey of faith, community, and growth.<br><br>

    We are a multi-generational worshipping community, dedicated to Christian discipleship, evangelism, and
    social action. We also seek to provide an open setting where those who want to learn more about
    Christianity can explore, question, and consider the claims of Jesus Christ. We are multicultural in
    membership and outlook but Asian-American in focus.<br><br>

    The majority of our present members are Asian-American, and we seek to help meet the urgent need for
    effective Asian-American ministries and outreach. However, we welcome people of all backgrounds.<br><br>

    We are part of a highly multicultural denomination (American Baptist) and we are active in multicultural
    community programs in the Bay Area.<br><br>

    If you are interested in our church and have any questions do not hesitate to contact us
    (nlcfbayarea@comcast.net) or to visit us on Sunday morning so that we can greet you personally and share
    more with you about what God is doing in our midst.
</p>