<h2>NLCF Sermon Messages</h2>

<div class="media">
    <span class="media-date pull-left"><em>JAN 5</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0105_ReevaluationRevealsResolution_JohnLee.mp3">
                Reevaluation Reveals Resolution
            </a>
        </h4>
        Jon Lee
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>JAN 12</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0112_El Shadai Lord God Almighty.mp3">
                El Shaddai: Lord God Almighty
            </a>
        </h4>
        Katie Choy-Wong
        <span class="spacer">|</span>
        <i class="fa fa-download"></i>
        <a target="_blank" href="res/2014-0112_ElShaddai_KCW.pdf">
            Devotion
        </a>
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>JAN 19</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0119_Adonai_ Lord And Master_KCW.mp3">
                Jehova Adonai: Lord and Master
            </a>
        </h4>
        Katie Choy-Wong
        <span class="spacer">|</span>
        <i class="fa fa-download"></i>
        <a target="_blank" href="res/2014-0119_Adonai_KCW.pdf">
            Devotion
        </a>
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>JAN 26</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0126_Yahweh-LordJehovah_KCW.MP3">
                Jehova Yahweh: Lord Jehova
            </a>
        </h4>
        Katie Choy-Wong
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>FEB 2</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0202_JehovaRaah_TheLordIsMyShepherd_KY.MP3">
                Jehova Raah: The Lord Is My Shepherd
            </a>
        </h4>
        Karen Yee
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>FEB 9</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0209_JehovaJireh_GodOurProvider_TonyAboagye.MP3">
                Jehova Jireh: God, Our Provider
            </a>
        </h4>
        Tony Aboagye
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>FEB 16</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0216_Elohim_GodTheCreator_KCW.MP3">
                Jehova Elohim: God the Creator
            </a>
        </h4>
        Katie Choy-Wong
        <span class="spacer">|</span>
        <i class="fa fa-download"></i>
        <a target="_blank" href="res/2014-0216_Elohim_KCW.pdf">
            Devotion
        </a>
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>FEB 23</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0223_JehovaShalom_GodOfPeace_KCW.MP3">
                Jehova Shalom: God of Peace
            </a>
        </h4>
        Katie Choy-Wong
        <span class="spacer">|</span>
        <i class="fa fa-download"></i>
        <a target="_blank" href="res/2014-0223_Shalom_KCW.pdf">
            Devotion
        </a>
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>MAR 2</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0302_JehovaNissi_TheLordIsMyBanner_KY.MP3">
                Jehova Nissi: The Lord Is My Banner
            </a>
        </h4>
        Karen Yee
        <span class="spacer">|</span>
        <i class="fa fa-download"></i>
        <a target="_blank" href="res/2014-0302_Song_BecauseOfWhoYouAre.MP3">
            Special Song
        </a>
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>MAR 9</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0309_Father Forgive Them_KY.MP3">
                Father Forgive Them
            </a>
        </h4>
        Katie Choy-Wong
        <span class="spacer">|</span>
        <i class="fa fa-download"></i>
        <a target="_blank" href="res/2014-0309_Devotion.pdf">
            Devotion
        </a>
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>MAR 16</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0316_TodayYouWillBeWithMeInParadise_KY.MP3">
                Today You Will Be With Me In Paradise
            </a>
        </h4>
        Katie Choy-Wong
        <span class="spacer">|</span>
        <i class="fa fa-download"></i>
        <a target="_blank" href="res/2014-0316_Lent.pdf">
            Devotion
        </a>
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>MAR 23</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0323_Behold Your Son...Behold Your Mother!_TonyAboagye.MP3">
                Behold Your Son-Behold Your Mother
            </a>
        </h4>
        Tony Aboagye
        <span class="spacer">|</span>
        <i class="fa fa-download"></i>
        <a target="_blank" href="res/2014-0323_Devotion.pdf">
            Devotion
        </a>
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>MAR 30</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0330_MyGodWhyHaveYouForsakenMe_KY.MP3">
                My God, Why Have You Forsaken Me
            </a>
        </h4>
        Karen Yee
        <span class="spacer">|</span>
        <i class="fa fa-download"></i>
        <a target="_blank" href="res/2014-0330_Devotion.pdf">
            Devotion
        </a>
    </div>
</div>

<div class="media">
    <span class="media-date pull-left"><em>APR 6</em>2014</span>

    <div class="media-body">
        <h4 class="media-heading">
            <a target="_blank" href="res/2014-0406_IThirst_KCW.MP3">
                I Thirst
            </a>
        </h4>
        Katie Choy-Wong
        <span class="spacer">|</span>
        <i class="fa fa-download"></i>
        <a target="_blank" href="res/2014-0406_Devotion.pdf">
            Devotion
        </a>
    </div>
</div>