<p class="subtitle bold">The Pastoral Staff at New Life</p>

<div class="row">
    <p>
        <img class="floatleft" src="res/katie$20photo$202small.jpg">

        <span class="bold">Kathryn Choy-Wong (Katie)</span><br>
        <span class="bold">Senior Pastor</span><br>

        Katie was born in San Francisco's Chinatown, and grew up in San Francisco. She attended SF State
        University with a BA in journalism. Her home church was First Chinese Baptist in San
        Francisco.<br><br>

        Upon graduation, Katie worked for a few years as the director of a hunger program with the Northern
        California Ecumenical Council and East West News (Asian American weekly paper). She attended and
        graduated from the American Baptist Seminary of the West in Berkeley, CA.
    </p>

    <p>
        Katie served a short term as associate pastor of Community Baptist Church in San Mateo then became
        the
        first full-time Director of Asian Ministries for the American Baptist Churches USA in Valley Forge,
        PA.
        Katie now serves New Life as the Senior Pastor and is on the Board of Directors for the ABC-USA
        region
        our church is a member of: The American Baptist Churches of Oregon (ABCO)
    </p>
</div>

<br><br>

<div class="row">
    <p>
        <img class="floatleft" src="res/6216a368e4946bd8ffff80daffffe906.JPG">

        <span class="bold">Karen Yee</span><br>
        <span class="bold">Associate Pastor</span><br>

        Karen attended the UC Berkeley, receiving her undergraduate degree with a Social Science Field Major
        -
        “Education & Socialization” and went on to receive a Graduate Education Credentials in multiple
        subjects.
    </p>

    <p>
        She then attended the American Baptist Seminary of the West at Berkeley, receiving the Claiborne M.
        Hill
        Award for Highest Academic Standing and the Jessie Day Drexler Award for Competence in the Field of
        Bible & Theology. Karen enjoys discovering and sharing the amazing and unbelievable grace of God,
        which
        she discovers each day through God’s Word, God’s world, and all God’s people. She has presented at
        various regional and national events, and is serving on way too many Boards and committees.
        Presently a
        Coach for the new "Transformed by the Spirit" Initiative by the ABC-USA denomination and serving on
        the
        Executive Core Team for the National Youth Gathering “Immerse” in 2012, Karen keeps quite busy and
        connected with our national denomination. Locally, Karen also serves on the Executive Council of the
        Ministers Council of the Greater Bay Area. Recently, she created a Summer Day Camp program that
        incorporates neighborhood outreach and leadership development.
    </p>

    <p>
        Karen recently completed 15 years as the Associate Pastor at the First Baptist Church of Alameda, an
        American Baptist church, serving a multi-ethnic, intergenerational congregation of Christ followers.
        At
        New Life Karen assists the Senior Pastor, helps coordinate our High School Youth activities, has
        served
        as the lead pastor while Pastor Katie was on sabbatical, and provides pulpit supply and guest
        speaking
        engagements in various ministry settings. Prior to this, she was a public school teacher and mentor
        teacher in the Millbrae School District. She also served as an active lay leader at the First
        Chinese
        Baptist Church of San Francisco. Her goal is to live a life that is described in Micah 6:8 “to do
        justice, love kindness, and walk humbly with her God.” Karen loves to hang out anywhere good food
        and
        friends can be found.
    </p>
</div>

<br><br>

<div class="row">
    <p class="bold">Thuiya Rumthao</p>

    <p class="bold">Minister of Pastor Care and Outreach</p>

    <p>
        Thuiya is a graduate of the American Baptist Seminary of the West in Berkeley. In addition to
        occasionally preaching, Thuiya leads Friday night Bible Studies and the NLCF Men's Group. Thuiya
        also is activly visiting our members in need who are feeling ill or recuperating in the hospital,
        our shut-ins at their homes as well as our seniors. He is very busy leading our outreach to the
        Nepalese refugees in Oakland by supporting them in their transition and new life in America as well
        as organizing an additional mid-week worship and Bible study with the these adult refugees. Thuiya
        is able to converse in Hindi, Naga, and English. He is married to Yokmi Chiphang and they have three
        Daughters: Vithem, Rimi, and Anna.
    </p>
</div>