<p class="subtitle bold">"1 Lord, 1 Faith, 1 Baptism"</p>

<p>
    NLCF's theme for 2014 is ...“ONE LORD, ONE FAITH, ONE BAPTISM".
</p>

<p>
    It is the ambitious initiative of New Life this year to understand and affirm that even though New Life
    is diverse, we are 'ONE' as Christians. God lives in all of us..
</p>

<p class="bold">
    Ephesians 4:4-6: (CEV)
</p>

<p>
    4 All of you are part of the same body. There is only one Spirit of God, just as you were given one hope
    when you were chosen to be God’s people.</p>

<p>
    5 We have only one Lord, one faith, and one baptism.</p>

<p>
    6 There is one God who is the Father of all people. Not only is God above all others, but he works by
    using all of us, and he lives in all of us.
<p>