<h2>NLCF's Values</h2>

<p>
    New Life's vision is to cultivate Christian faith and growth. Our values are reflected in the
    acronym "GROWING" as a reminder of the values that are important to New Life for "New Life".<br><br>
</p>

<ul class="nobullet">
    <li>
        (G)OD-CENTERED - We value focusing on God in every area of our church life. We rely on him in prayer
        and are committed to the preaching and teaching of God’s Word.
    </li>

    <li>
        (R)ELATIONSHIPS - We value building healthy and loving relationships. We value providing tangible
        support and loving care in Christ to all people.
    </li>

    <li>
        (O)UTREACH - We value lost people and commit to pursuing, winning, and discipling them. We seek to
        promote justice in our social system and help those who are disadvantaged.
    </li>

    <li>
        (W)HOLE-HEARTED SERVICE - We value honoring God by pursuing excellence, energy, and commitment in
        all our ministries and activities.
    </li>

    <li>
        (I)NNER GROWTH - We value growing together in our relationship with God. We value moving people
        towards a greater relationship with Christ to transform people into his image.
    </li>

    <li>
        E(N)ABLING - We value providing the environment and resources to enable people to develop and use
        their spiritual gifts to build God’s kingdom.
    </li>

    <li>
        (G)RACE - We emphasize God’s unconditional acceptance through Jesus Christ. We motivate people
        through love and thankfulness rather than guilt or duty. We extend grace towards others.
    </li>
</ul>