<h2>Vision</h2>

<p>
    Like every church, New Life cultivates Christian faith and growth by helping people become
    fully-committed followers of Jesus Christ. And, like each church, New Life has a unique identity,
    history, and location that define its particular focus and calling.

    New Life’s vision is to be a church setting that is both generally multicultural and specifically Asian
    American because of a number of factors:

</p>

<ul class="nobullet">
    <li>
        OUR ROOTS: our core members came from various Chinese American churches
    </li>
    <li>
        OUR PASTOR: an Asian American who identifies with Asian American culture
    </li>
    <li>
        OUR LOCATION: in Castro Valley, within five miles of some 46,000 people of Asian ancestry
    </li>
    <li>
        OUR OUTLOOK: affiliated with the highly-multicultural American Baptist denomination, continuously
        involved in cross-cultural community work, and having a membership that has long included a notable
        "minority" of non-Asians
    </li>

</ul>