<h2>Worship at New Life!</h2>

<p>
    <img class="floatright" src="res/communion-wine.gif">
    Sunday worship is the center and heart of our life together as a faith community. In worship we seek to
    honor and praise God together, and to be strengthened and challenged by his power and grace.<br><br>

    Our worship services include praises in song, sharing and prayer, and a 20-30 minute message about how
    the Bible applies to our lives. Our music is a combination of contemporary praise songs, traditional
    hymns, and children’s choruses.
</p>

<p>
    We welcome those who are looking into Christianity for the first time, or are taking another look at the
    church after years of being away. You need not be a Christian to understand and benefit from being at
    New Life.
</p>

<p>
    <img class="floatleft" src="res/Cross.JPG">

    The first Sunday of the month we usually celebrate Holy Communion together, which is symbolic of the
    meal Jesus gave to his followers to share together. We welcome all Christians and believers to our
    celebrations at the Lord’s Table. We also try to use different things we see and say in our gatherings
    to express and touch the particular journey of those who identify with Asian American culture. While
    Christianity in America is largely inherited from European traditions, we believe God wants people in
    all cultures to discover and experience him without having to cross cultural barriers and
    boundaries.
</p>

<p>
    Children and Youth usually begin their own Sunday school classes after the opening songs and
    announcements."Youth Sunday" is designated for whenever there is a 5th Sunday during a particular month.
    This worship is led by the Youth of the church via singing, scripture reading and/or special
    presentations.
</p>